@model IEnumerable<App.Web.DTOs.InventoryReportDTO>

@{
    ViewData["Title"] = "Missing Inventory";
}

<h1>Report | Missing Inventory</h1>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css" />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"></h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="ProductsTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Product)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Stock)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StockMin)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StockMax)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Equal)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Location)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Unit)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Warehouse)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Product)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Stock)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StockMin)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StockMax)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Equal)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Location)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Unit.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Warehouse.Id)
                                </td>
                                <td>
                                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="//code.jquery.com/jquery-3.5.1.js"></script>
    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#ProductsTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });
    </script>
}
