@*@model IEnumerable<App.Web.Mappers.PurchaseDTO>*@
@model PaginatedList<App.Web.Mappers.PurchaseDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                PO Id
            </th>
            <th>
                Customer
            </th>
            <th>
                Items
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.BussinessName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orderitemssales.Count)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-outline-secondary @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-outline-secondary @nextDisabled">
    Next
</a>