@model IEnumerable<App.Web.Mappers.PurchaseDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Deliveries</h1>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
<br />

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"></h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="DeliveryTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Customer.CommercialName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Delivery)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Confirm)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DateUpdate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Count)
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Customer.CommercialName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Delivery)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Confirm)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateUpdate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Count)
                            </td>
                            <td>
                                <button data-id="@item.Id" class="btn btn-outline-success poConfirm" data-toggle="modal" data-target="#confirmDialog">Confirm Delivery</button>
                                <button data-id="@item.Id" class="btn btn-outline-danger cancelOrder" data-toggle="modal" data-target="#deleteDialog">Cancel</button>
                                @*<a asp-action="Confirm" asp-route-id="@item.Id" class="btn btn-outline-primary">Confirm</a>
                                <a asp-action="Cancel" asp-route-id="@item.Id" class="btn btn-outline-danger">Cancel</a>*@
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Confirm Order-->
<div class="modal fade" id="confirmDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you want to confirm the delivery?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="btnYes">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!--Delete Item-->
<div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you want to cancel the delevery?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="btnYesDelete">Cancel</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#DeliveryTable').DataTable();
            // Confirm Order
            var po_confirm;
            $('.poConfirm').click((e) => {
                po_confirm = e.currentTarget.dataset.id;
            });
            $("#btnYes").click(function () {
                window.location.href = '/Delivery/Confirm/' + po_confirm;
            });
            // Delete item
            var item_to_delete;
            $('.cancelOrder').click((e) => {
                order_to_cancel = e.currentTarget.dataset.id;
            });
            $("#btnYesDelete").click(function () {
                window.location.href = '/Delivery/Cancel/' + order_to_cancel;
            });
        });
    </script>
}
