@model IEnumerable<App.Web.DTOs.CustomerDTO>
@*@model IEnumerable<App.Web.Mappers.CustomerDTO>*@

@{
    ViewData["Title"] = "Customers";
}
@await Html.PartialAsync("_WrapperInit")
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
<h1>Customers</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
</p>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"></h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="CustomerTable">
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Commercial Name
                            </th>
                            <th>
                                Bussiness Name
                            </th>
                            <th>
                                Rfc
                            </th>
                            <th>
                                Zip Code
                            </th>
                            <th>
                                Address
                            </th>
                            <th>
                                Day Credit
                            </th>

                            @*<th>
                                    @Html.DisplayNameFor(model => model.Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CommercialName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BussinessName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Rfc)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Cp)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Address)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DayCredit)
                                </th>*@
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CommercialName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BussinessName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Rfc)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cp)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DayCredit)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning">Edit</a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#CustomerTable').DataTable();
        });
    </script>
}
@await Html.PartialAsync("_WrapperEnd")